<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.11scissors.com/jARVIS</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w22.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>11scissors.com/jARVIS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>11scisso</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShoppingListDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s18.winhost.com;Initial Catalog=DB_102573_jarvis;Integrated Security=False;User ID=DB_102573_jarvis_user;Password=Alexandru12" Name="Data Source=tcp:s18.winhost.com;Initial Catalog=DB_102573_jarvis;User ID=DB_102573_jarvis_user;Password=Alexandru12;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="jARVIS.Models.ShoppingListDBContext, jARVIS" MigrationConfiguration="jARVIS.Migrations.Configuration, jARVIS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShoppingListDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s18.winhost.com;Initial Catalog=DB_102573_jarvis;User ID=DB_102573_jarvis_user;Password=Alexandru12;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>